<div id="categories">

	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<%= image_tag "funny-button.png" %>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<%= image_tag "inspirational-button.png" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<%= image_tag "cute-button.png" %>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<%= image_tag "weird-button.png" %>
		</div>
	</div>
</div>


