<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=486427624802931";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script type="text/javascript">
//ajax requesting content
	var id = -1;
	var permalink = "default"
	function newContent() {
		$.ajax({ 

			url: "/next/<%=params[:category]%>",
			type: "POST",
			data: (id < 0) ? null : { content_id: id, like: $(this).attr('data-like') },
			dataType: "json", 
			success: function(response) {
				$("#content").html(response["to_html"]);
				$("#uploader").html("<a href='/users/" + response["user_id"] + "'>" + response["uploader"] + "</a>");
				id = response["id"];
				permalink = response["permalink"];
			}
		});
	};
	$(document).ready(function() {
		
		<% if @content == nil %>
			newContent();
		<% end %>

		$(".next").click(newContent);
	});
</script>





<script>
//set data-href for facebook share button

$(document).ready(function(){
	$(".fb-share-button").attr("data-href", permalink);
});

</script>






<div id="content-container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">

			<div class="row" id="content">
				 <% if @content  %>
				 <%= @content.html %>
				 
				 <% end %>
			</div>

			<div class="row" id="uploader">
			</div>

			<div class="row">
				<div class="col-md-4">
					
					<a type="button" class="btn btn-danger btn-lg next" data-like="0" id="downvote">
						<span class="glyphicon glyphicon-thumbs-down"></span> Downvote
					</a>	
					
				</div>

				<div class="col-md-4 middle">
					<div class="row three-button-group">
						<div class="fb-share-button" data-href="http://facebook.com" data-type="button"></div>
					</div>
					<div class="row three-button-group">
						<button type="button" class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-star-empty"></span> Save
						</button>
					</div>
					<div class="row three-button-group" id="report-link">
						<a href="#"> Report
						</a>
					</div>
					
				</div>


				<div class="col-md-4">

					<a type="button" class="btn btn-success btn-lg next" data-like="1" id="upvote">
						<span class="glyphicon glyphicon-thumbs-up"></span> Upvote
					</a>
					
				</div>


			</div>


		</div>
	</div>
</div>