<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1><%= @user.name %></h1>

		<div class="row">
			<div class="col-md-3">
			Total number of uploads

			</div>

			<div class="col-md-3">
			<%= @uploads.length %>
			</div>

		</div>

		<div class="row">
			<div class="col-md-3">
			Total number of people distracted
			</div>

			<div class="col-md-3">
			<%= @distractees %>
			</div>

		</div>


	</div>
</div>