/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*/


// import original bootstrap
@import "twitter/bootstrap";

@import "variables";
@import "bootstrap-narrow.css.scss";



//background

body {

	background: $background;
	
	a {
		color: $link-color;
		&:hover {
			color: $link-color;
		}
	}
}

.doitmrw-ticker {
	text-align: center;
}

.ticker-container {
	display: inline-block;
	font-size: 1.4em;
	color: rgba(0, 0, 0, 0.4);
	line-height: 1.2em;
	span {
		font-weight: bold;
		color: rgba(0, 0, 0, 0.8);
	}
	#ticker-field {
		font-family: "Baskerville", Georgia, "Times New Roman", serif;
		font-style: italic;
		font-weight: 500;
		display: inline-block;
		width: 330px;
		padding: 0 1px;
		text-align: right;
		background: #fff;
		border: 1px solid #ddd;
		padding: 4px 1px;
		border-radius: 3px;
		text-align: center;
	}
}

.owl-message-box {
	display: none;
	line-height: $line-height-base * 1.2;
	position: absolute;
	width: 30%;
	margin-left: -35%;
	color: $link-color;
	text-align: center;
	background-color: $background;
	border: 6px solid $link-color;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

.owl-message {
	margin-top: 1em;
	margin-bottom: 1em;
	height: 100%;
}

.header {
	h1 {
		letter-spacing: -0.1em;
		font-weight: bold;
		-webkit-font-smoothing: antialias;
		color: #777;
		margin-top: 1.0em;
		position: relative;
		left: -0.4em;
	};
	position: relative;
	margin-bottom: 1em;
	height: $header-height;
	overflow: hidden;
	img {
		height: $header-height - 20px;
	}


	.nav {
		//header
		#upload-button {
			color: #FFFFFF;
			background-color: $link-color;
		}
		li {
			a {
				margin-top: $header-height / 2 - $font-size-base * $line-height-base;
				color: $link-color;
				&:hover,
				&:focus {
					background: $link-background;
					.caret {
						border-top-color: $link-background;
						border-bottom-color: $link-background;
					}
				}
			}

		}


	}
}

.category-links {
	text-align: center;
	margin-top: 5em;
	.btn {
		font-size: 2em;
		padding: 1em 1.4em;
	}
	h3 {
		font-size: 2em;
		color: #444;
		margin-bottom: 1em;
		font-weight: normal;
	}
}

//homepage - categories
#categories {
	.row {		
		position: relative;	
		margin-bottom: $second-margin * 2;
		.first-category {
			margin-left: $first-margin;
			margin-right: $second-margin;
			width: $category-button-width;


		}

		#random-button {
			width: 28%;
			position: absolute;
			margin-left: -14.5%; 
			margin-top: 16%;


		}
		.second-category {
			width: $category-button-width;
			margin-left: $second-margin;
		}
	}	

}

//upload form
#upload-form {
	h2 {
		margin-bottom: 1em;
	}

	.submit {
		margin-top: 3em;
	}

}

//view content

#content-container {

	#spinner {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		margin-left: -10px;
	}

	#content {
		width: 608px;
		height: 315px;
		margin-bottom: 2em;
		border-radius: 3px;
		text-align: center;
		position: relative;


		img {
			height: 300px;
			width: auto;
			display: block;
			margin: 0 auto;
		}

		iframe {
			margin: 0 auto;
		}

	}
	.three-button-group {
		margin: 0.5em;

	}
	#report-link {
		margin-top: -0.5em;
	}

	.middle {
		text-align: center;

	}

	.btn-lg {
		width: 9.7em;
	}

	#uploader {
		margin-top: -1em;
		margin-bottom: 2em;
	}

}

//footer

.selected {
	pointer-events: none;
	border-top-color: rgba(0,0,0,0.6);
	-moz-box-shadow:    inset 0 2px 0 rgba(0,0,0,0.6);
	-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,0.6);
	box-shadow:         inset 0 2px 0 rgba(0,0,0,0.6);
}
