//variables
$link-color: #8E5687;
$link-background: #F3ECF3;
$header-height: 120px;
$background: #fffef4;

$second-margin: 8%;
$first-margin: 8%;
$category-button-width: (100% - 2 * $first-margin - 2 * $second-margin) / 2 ;